In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
plt.style.use('coffee.mplstyle')

In [ ]:
from matplotlib.colors import LinearSegmentedColormap
coffee_colors = [(222/255, 203/255, 183/255),(143/255, 133/255, 125/255),  (92/255, 85/255, 82/255), (67/255, 54/255, 51/255)]
coffee_cmap = LinearSegmentedColormap.from_list("coffee", coffee_colors, N=50)

In [157]:
info = pd.read_csv('info.csv')

In [12]:
info.describe()

,№ смены,№ за смену,Наличными,Безналичными,Сумма,Сумма без НДС,Сумма с НДС 0%,НДС 10%,НДС 20%,НДС 10/110,НДС 20/120,№ ФД,ФПД,Серийный номер ККТ,Номер ФН,Регистрационный номер ККТ,Торговая точка
count,46705.000000,46705.000000,46705.000000,46705.00000,46705.000000,46705.000000,46705.0,46705.0,46705.0,46705.0,46705.0,46705.000000,4.670500e+04,5.000000e+00,4.670500e+04,4.670500e+04,0.0
mean,550.136238,10.472455,56.422615,181.26597,237.688585,237.688585,0.0,0.0,0.0,0.0,0.0,12045.069457,2.158495e+09,3.077615e+11,9.553994e+15,3.188864e+12,NaN
std,322.140950,7.988468,161.263735,381.59620,388.800996,388.800996,0.0,0.0,0.0,0.0,0.0,6972.951713,1.237093e+09,4.915944e+08,3.316141e+14,6.541918e+10,NaN
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,5.063700e+04,3.074025e+11,9.283440e+15,3.131487e+12,NaN
25%,275.000000,4.000000,0.000000,0.00000,100.000000,100.000000,0.0,0.0,0.0,0.0,0.0,5839.000000,1.083817e+09,3.074025e+11,9.283440e+15,3.131487e+12,NaN
50%,545.000000,9.000000,0.000000,140.00000,170.000000,170.000000,0.0,0.0,0.0,0.0,0.0,12042.000000,2.172349e+09,3.074025e+11,9.283440e+15,3.131487e+12,NaN
75%,827.000000,16.000000,30.000000,230.00000,261.000000,261.000000,0.0,0.0,0.0,0.0,0.0,17880.000000,3.233865e+09,3.083000e+11,9.960440e+15,3.263451e+12,NaN
max,1119.000000,54.000000,4680.000000,53650.00000,53650.000000,53650.000000,0.0,0.0,0.0,0.0,0.0,25471.000000,4.294861e+09,3.083000e+11,9.960440e+15,3.263451e+12,NaN

In [13]:
info.columns

Index(['Дата и время', 'Тип документа', '№ смены', '№ за смену',
       'Тип операции', 'Система налогообложения', 'Наличными', 'Безналичными',
       'Сумма', 'Сумма без НДС', 'Сумма с НДС 0%', 'НДС 10%', 'НДС 20%',
       'НДС 10/110', 'НДС 20/120', 'Кассир', '№ ФД', 'ФПД',
       'Серийный номер ККТ', 'Номер ФН', 'Регистрационный номер ККТ',
       'Торговая точка', 'Адрес'],
      dtype='object')

In [166]:
info['cashier'].unique()

array(['SI', 'SA', 'PK', 'ADMIN', 'CASHIER'], dtype=object)

In [103]:
'Cопочкина Анастасия'=='Cопочкина Aнастасия'

False

In [59]:
ord('C')

67

In [64]:
a = 'Сопочкина Анастасия'
b='Сопочкина Анастасия'
s=''
d=''
for i in range (len('Сопочкина Анастасия')):
    s+=str(ord(a[i]))+" "
    d+=str(ord(b[i]))+" "
print(s)
print(d)

1057 1086 1087 1086 1095 1082 1080 1085 1072 32 1040 1085 1072 1089 1090 1072 1089 1080 1103
1057 1086 1087 1086 1095 1082 1080 1085 1072 32 1040 1085 1072 1089 1090 1072 1089 1080 1103

In [62]:
chr(1057)

'С'

In [158]:
info = info.drop(['Система налогообложения', 'Сумма без НДС', 'Сумма с НДС 0%', 'НДС 10%', 'НДС 20%', 'НДС 20/120', 'НДС 10/110', '№ ФД', 'ФПД', 'Серийный номер ККТ', 'Номер ФН', 'Регистрационный номер ККТ', 'Торговая точка'], axis=1)

In [159]:
info = info.rename(columns={'Дата и время': 'date', 'Тип документа': 'document_type', '№ смены': 'shift_number', '№ за смену': 'number_in_shift', 'Наличными': 'cash', 'Безналичными': 'card', 'Сумма': 'total', 'Кассир': 'cashier', 'Адрес': 'address', 'Тип операции': 'operation_type'})

In [160]:
info.date = pd.to_datetime(info.date, format='%Y-%m-%d %H:%M:%S')

In [161]:
info = info[info.document_type=='кассовый чек']

In [162]:
info = info.drop(columns=['document_type'], axis=1)

In [81]:
info

NameError: name 'info' is not defined

In [164]:
def sopochkina(s):
    if s=='Сопочкина Aнастасия':
        return "SA"
    if s=='Сопочкина Анастасия':
        return 'SA'
    if s=='Сеничева Ирина':
        return 'SI'
    if s=='Прокапович  Катя':
        return 'PK'
    if s=='Администратор':
        return 'ADMIN'
    if s=='Кассир':
        return 'CASHIER'

In [165]:
info.cashier = info.cashier.apply(sopochkina)

In [109]:
info

'i'

2650.0 150.0
2809.0 309.0
2977.54 477.53999999999996
3156.1924 656.1923999999999
3345.563944 845.563944
3546.29778064 1046.29778064
3759.0756474784 1259.0756474783998

28.0

2000.0

8230000000.0